<!-- Goals -->
<section id="goals" class="goals bg-primary text-white">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-* mx-auto">
        <h1>My Goals</h1>

      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>