<!-- Shopping Lists -->
<section id="shopping_lists" class="shopping_lists bg-primary text-white">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-* mx-auto">
        <h1>My Shopping Lists</h1>

      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>